
.ex1{
  padding: 60px 0;
  text-align: center;
  background: #fff;
  i{
    margin: 0 20px;
    color: #333;
    cursor: pointer;
  }
}

.ex1{
  i{
    &:hover{
	    	color: #ef43a1;
	    	transform: scale(1.5);
    }
  }
}