body {
    align-items: center;
    /* background-color: #000; */
    display: flex;
    justify-content: center;
    height: 100vh;
    /* background-image: url(images/computer-repair-blur.png);
    background-position:center center; 
    background-repeat: repeat-ys; 
    background-size: cover; */
  }
  
  .form {
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
  }
  
  .title {
    color: white;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .subtitle {
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }

  .input-container-submit {
    height: 80px;
    position: relative;
    width: 100%;
  }

  .input-area-container {
    height: 80px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 30px;
  }
  
  .ic2 {
    margin-top: 45px;
  }
  
  .input {
    background-color: #f0f5fc;
    border-radius: 12px;
    border: solid 0 white;
    box-sizing: border-box;
    color: black;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 5px 20px 0;
    width: 100%;
  }

  .input-area {
    background-color: #f0f5fc;
    border-radius: 12px;
    border: solid 0 white;
    box-sizing: border-box;
    color: black;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 20px 20px 0;
    width: 100%;
    resize: none;
  }
  
  .cut {
    background-color: transparent;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 75px;
  }
  
  .cut-short {
    width: 65px;
  }
  .cut-long {
    width: 150px;
  }
  
  /* .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  } */
  
  .placeholder {
    color: black;
    background-color: transparent;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 ;
    transition: transform 200ms, color 200ms;
    top: 20px;
    opacity: 1;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-45px) translateX(0px) scale(.9);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: black;
  }
  
  .input:focus ~ .placeholder {
    color: black;
  }
  
  /* .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
  } */
  
  h1 {
    font-weight:700;
    font-size: 3.5em;
    color: white;
    text-shadow: 2px 2px black;
    }

  .submit {
    font-weight: 600;
    font-size: 2em;
    }

    /* Media Queries */
    @media screen and (max-width: 601px) {
        h1 {
          font-size: 2.5em;
        }
      }