/* DEFAULT */
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
nav
{
    visibility: hidden;
    display: none;
   background-color: black  !important;
}
nav > div > a:hover {
 color: white !important;
}
nav > div > a:active {
color: white !important;
}
nav > div > a:link {
color: white !important;
font-size: 1em !important;
}
nav > div > a:visited {
color: white !important;
}
   


/* COLOR PALLETS */
/* BACKGROUNDS */
.bgYellow {background-color: #ffd02f;}
.bgBlueWhite {background-color: #F0F2FC; }
.bgWhite {background-color:#FFFFFF;}
.bgNavy {background-color: #050038;}
.bgBlack {background-color: black;}
.bgBlue {background-color: blue}
/*  #3f53d9; */
/* TEXT COLOR */
.tcYellow {color:#ffd02f;}
.tcBlueWhite {color:#F0F2FC;}
.tcWhite {color:#FFFFFF;}
.tcNavy {color:#243354;}
.tcBlack {color:black;}
.tcBlue {color:#0000ff;}

/* Border color */
.bcNavy {border-color:#243354 !important;}
.bcYellow {border-color:#ffd02f !important;}
.bcWhite {border-color:#FFFFFF !important;}
.bcBlue {border-color:#0000ff;}

/* FONTS */
html * {
    /* font-family: 'Roboto', Helvetica;  */
    font-family: 'Outfit'; 
    /* "Aktiv Grotesk","Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; */
}

/* Section definition */
.section {min-height: 100vh;}

/* Section definition */
.half_section {min-height: 50vh;}

/* social media */
.s0M > i{
    color: blue;
  }
  .s0M:hover{
    background-color: blue;
    color: white;
  }
  .s0M:hover > i{
    background-color: blue;
    color: white;
  }
  .s0M:active{
    background-color: blue;
    color: white;
  }
  .s0M:active > i{
    background-color: blue;
    color: white;
  }