

/* typeography for sections*/

h2.text-shadow {text-shadow: 3px 3px black;}
h2.text-shadow-white {text-shadow: 3px 3px white;}

h2.SectionContent {
  font-weight:700;
  font-size: 3em;
}
p.SectionContent {
  font-weight:250;
  font-size: 2em;
}
button.SectionContent {
  font-weight: 600;
  font-size: 2em;
}


/* Landing Page */
h1.landing {
    font-weight:900;
    font-size: 5em;
    color: white;
    text-shadow: 3px 3px black;
}
p.landing {
    font-weight:400;
    font-size: 1em;
    color: white;
    text-shadow: 2px 2px black;
}

button.landing {
    font-weight:600;
    font-size: 1.5em;
}

a.landing {
  font-weight:600;
  font-size: 1.5em;
}

.hrText {
    display: inline-block;
    position: relative;
    padding: 0 1rem;
    
}
.hrText::before,
.hrText::after {
        content: '';
        position: absolute;
        height: 1px;
        border-top: 1px solid white;
        top: 50%;
        width: 1rem;
      }
  
      .hrText::after {
        left: 100%;
      }
  
      .hrText::before {
        right: 100%;
      }

/* Services cards */

/* <div class="card template invisible">
<div class="card_image">
  <img src="https://cdn.blackmilkclothing.com/media/wysiwyg/Wallpapers/PhoneWallpapers_FloralCoral.jpg" />
</div>
<div class="card_title title-white">
  <p>Card Title</p>
</div>
</div>         */

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
  }
  
  .card {
    margin: 30px auto;
    width: 240px;
    height: 240px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;

  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
    text-align: center;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
    background-color: transparent;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }



/* link share */

.field.active{
  border-color: #7d2ae8;
}
.field i{
  text-align: center;
}
.field.active i{
  color: #7d2ae8;
}
.field a{
  background-color: #007BFF;
  border-bottom: solid 3px white;
  width: fit-content;
  text-decoration: none;
  font-size: 3em;
}
.field a:hover{
  color: white;
  opacity: .7;
  text-decoration: none;
}
.field input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

/* Media Queries */
@media screen and (max-width: 601px) {
  .field a {
    font-size: 1.5em;
  }
}

/* carousel  */
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}
.loop--slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.loop--slider::before, .loop--slider::after {
  background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  position: absolute;
  width: 200px;
  z-index: 2;
}
.loop--slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.loop--slider::before {
  left: 0;
  top: 0;
}
.loop--slider .loop--slide--track {
  -webkit-animation: scroll 15s linear infinite;
          animation: scroll 15s linear infinite;
  display: -webkit-box;
  display: flex;
  width: calc(250px * 14);
}
.loop--slider .loop--slide {
  width: 100%;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
}

/* END */