/* TOP OF PAGE */
h1.landing {
  font-weight:700;
  font-size: 4em;
  color: white;
  text-shadow: 3px 3px black;
}
p.landing {
  font-weight:400;
  font-size: 1.5em;
  color: white;
  text-shadow: 2px 2px black;
}
/* TYPEOGRAPHY */
h2 {
  font-weight:500;
  font-size: 3em;
}
h3 {
  font-weight:400;
  font-size: 2.5em;
}
p {
  font-weight:100;
  font-size: 2em;
}
a {
  font-weight:600 !important;
  font-size: 2em !important;
  padding: .5em !important;
}

/* ACCORDION */
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* Accordion styles */
.tabs {
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  background: #000000;
  font-weight: bold;
  cursor: pointer;
}
.tab-label:hover {
  background: black;
}
.tab-content {
  max-height: 0;
  color: White;
  background: black;
  transition: all 0.2s;
}
input:checked + .tab-label {
  background: black;
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}
.service_section {
  min-height: fit-content;
}

.service_section_content {
  padding-right: 3rem!important;
  padding-left: 3rem!important;
}

.service_section_content > h2 {
  color: white;
  word-wrap: break-word;
}

/* FOOTER */
h2.SectionContent{
  font-weight:600;
  font-size: 3em;
  padding-bottom: .5em;
}
.field a{
  background-color: #007BFF;
  border-bottom: solid 3px white;
  width: fit-content;
  text-decoration: none;
  font-size: 3em;
}
.field a:hover{
  color: white;
  opacity: .7;
  text-decoration: none;
}

h2.SectionContent {
  font-weight:700;
  font-size: 3em;
  padding: 0px !important;
  margin: 0px!important;
}


/* Media Queeries */
@media screen and (max-width: 601px) {
  .field a {
    font-size: 1.5em;
  }
  .service_section_content {
    padding-right: .1rem!important;
    padding-left: .1rem!important;
  }
  h2 {
    font-weight:500;
    font-size: 1.6em;
  }
  a {
    font-weight:600 !important;
    font-size: 2em !important;
    padding-top: .5em !important;
    padding-left: 0.1em !important;
    padding-right: 0.1em !important;
    padding-bottom: .5em !important;
  }
  .field a{
    background-color: #007BFF;
    border-bottom: solid 3px white;
    width: fit-content;
    text-decoration: none;
    font-size: 1em !important;
  }
  
}
@media screen and (max-width: 800px) {
 
  h2 {
    font-weight:500;
    font-size: 1.6em;
  }
  
}