/* DEFAULT */
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
/* BACKGROUNDS */
.bgYellow {
    background-color: #ffd02f; 
}
.bgBlueWhite {
    background-color: #F0F2FC; 
}

.bgWhite {
    background-color:#FFFFFF;
}

.bgBlack {
    background-color: #050038; 
}
.bgBlue {
    background-color: #3f53d9; 
}

/* TEXT COLOR */
.tcYellow {
    color:#ffd02f;
}

.tcBlueWhite {
    color:#F0F2FC;
}

.tcWhite {
    color:#FFFFFF;
}

.tcBlack {
    color:#050038;
}

.tcBlue {
    color:#3f53d9;
}

/* FONTS */
html * {
    font-family: sans-serif;
    font-family: 'Arvo', serif; /*
    font-family: 'Heebo', sans-serif;
    font-family: 'Outfit', sans-serif; */
    /* cera-round-pro, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    "Aktiv Grotesk","Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; */
}

/* FOOTER BUTTON EFFECTS .fb */
.fb:hover > a > i {
    color: #050038;
}
.fb:hover {
    background-color: #ffd02f;
}